body {
    margin:0;
    padding:0;
    font-family:"Roboto";
    display:flex;
    flex-direction:column;
    
}

.Main{
    width:auto;
    display:inline-block;
    background-color:#1F2937;
    padding-top:0px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:60px;
    justify-content:center;
    align-content:center;
    
 
}

.Header {
    display:flex;
    justify-content:space-between;
}


.Header.Content ul {
    list-style:none;
    display:flex;
    margin:0;
    padding:0;
    justify-content:flex-end;
    align-content:end;
    
}

.ProspectHeader{
    display:flex;
    background-color:#1F2937;
    padding-bottom:60px;
    justify-content:center;
}


.Main a {
    text-decoration:none;
    color:white;
    width:100px;
    display:block;
    padding:25px 20px;
    text-transform:uppercase;
    text-align:center;
    
    
}





.Header a:hover{
    background:#353640;
}



li {
    display:inline-block;
    align-items:flex-end;
    padding:0;
}

.Description-Content{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    padding:95px;
    background-color:beige
       
}

.Visualizations {
    
    display:flex;
    padding:35px 30px;
    gap:75px;
    
}

.buttons button {
    font-size:16px;
}

.Information{
    background-color:lightslategray;
    display:flex;
    align-content:center;
    padding: 100px;
    justify-content:center;
}   
.Info{
    font-size:36px;

}
    
.From{
    font-size:24px;
    font-weight:bold
}

.SignUp{
    display:flex;
    justify-content:center;
    padding:10px;
    gap:70px;
    background-color:rgb(6, 123, 213);
    color:white;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:40px;
    margin-right:40px;
    border-radius:25px;

}


button{
    background-color:rgb(6, 123, 213);
    color:white;
    border-radius:17px;
    border-color:whitesmoke
    
}

.Footer{
    display:flex;
    justify-content:center;
    align-content:center;
    background-color:#1F2937;
    color:white;
    bottom:0;
    width:100%;
    height:2.5rem;
    align-items:center;

}