body {
    margin:0;
    padding:0;
    font-family:"Roboto";
    display:flex;
    flex-direction:column;
    
}

.Main{
    width:auto;
    display:flex;
    background-color:#1F2937;
    padding:48px;
    justify-content:center;
    
 
}

ul {
    list-style:none;
    display:flex;
    margin:0;
    padding:0;
    justify-content:center;
    
}


.Main a {
    text-decoration:none;
    color:white;
    width:100px;
    display:block;
    padding:25px 20px;
    text-transform:uppercase;
    text-align:center;
    
}


.Header-Content img{
    display:block;
}



.Header a:hover{
    background:#353640;
}





li {
    display:inline-block;
}

.Description-Content{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
       
}

.Visualizations {
    
    display:flex;
    padding:35px 30px;
    gap:75px;
    
}



.Footer{
    display:flex;
    justify-content:center;
    align-content:center;
    background-color:#1F2937;
    color:white;
    padding:10px;

}